<div class="calculator-card">
  <form (ngSubmit)="onFormSubmit()">
    <div>
        <div class="input-container">
            <label for="initial-investment">Initial Investment</label>
            <input type="number" id="initial-investment" [(ngModel)]="initialInvestment" name="initialInvestment"/>
        </div>
        <div class="input-container">
            <label for="annual-investment">Annual Investment</label>
            <input type="number" id="annual-investment" [(ngModel)]="annualInvestment" name="annualInvestment"/>
        </div>
    </div>
    <div>
        <div class="input-container">
            <label for="expected-return">Expected Return</label>
            <input type="number" id="expected-return" [(ngModel)]="expectedReturn" name="expectedReturn"/>
        </div>
        <div class="input-container">
            <label for="duration">Duration</label>
            <input type="number" id="duration" [(ngModel)]="duration" name="duration"/>
        </div>
    </div>
    <button type="submit">Calculate</button>
  </form>
</div>
